
*       
        {margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;}

/*INICIO MAIN INDEX*/

div h1{display: flex;justify-content: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 38px; color: white;padding: 15px;animation: move 3s;}
div p.parrafo1 {display: flex;justify-content: center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:2.2vw; color: rgba(255, 255, 255, 0.774); margin: 20px;}
div  .card {border: 1px solid rgba(161, 161, 161, 0.808);}
div .row .col-8 {display: block}
h5.carrusel-title{color: black;}
p.carrusel-subtitle {color: rgb(26, 26, 26);}
div .carousel-caption {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
            

/*FIN MAIN INDEX*/

/*INICIO MAIN PRODUCTOS*/
h1.titulo-productos {display: flex;justify-content: center;color: rgb(29, 29, 29); margin: 15px;font-size: 45px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
h3.subtitle-productos{display: flex;justify-content: center;color: rgb(54, 54, 54);margin: 25px;}
h5.card-title {display: flex;justify-content: center;}
p.card-text {display: flex;justify-content: center;color: rgb(80, 80, 80);font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
p.card-precio {font-size: 18px;color: rgb(255, 0, 0); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

/*FIN MAIN PRODUCTOS*/

/*INICIO PROYECTO*/

h1.titulo-proyecto {display: flex;justify-content: center;color: rgb(29, 29, 29); margin: 15px;font-size: 45px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
h2.subtitulo-proyecto{display: flex;justify-content: center;color: rgb(54, 54, 54);margin: 25px;}
h3.descripcion-proyecto {display: flex;justify-content: center;font-size: 25px;}

/*FIN MAIN PROYECTO*/

/*INICIO MAIN CONTACTO*/

div.container-md{border: 1px solid rgba(161, 161, 161, 0.808);padding: 15px;display: block; justify-content: center;margin-top: 20px;margin-bottom: 25px;}
h1.titulo-contacto {display: flex;justify-content: center;color: rgb(29, 29, 29); margin: 15px;font-size: 45px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

/*FIN MAIN CONTACTO*/

/*INICIO MAIN QUIENES SOMOS*/
h1.titulo-qs {display: flex;justify-content: center;color: rgb(255, 255, 255); margin: 15px;font-size: 45px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
p.parrafo2 {display: flex;justify-content: center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:2.0vw; color: rgba(255, 255, 255, 0.774); margin: 20px;}
/*FIN MAIN QUIENES SOMOS*/

/*FOTTER*/
footer u {background-color: black;
        height: 100px;
        width: auto;
        ;display: flex; justify-content: space-around;align-items: center;}

   

.paymentBrick_container.show{
        pointer-events: auto;
        opacity: 1;
}