/*INICIO MAIN CONTACTO*/

div.container-md{border: 1px solid rgba(161, 161, 161, 0.808);padding: 15px;display: block; justify-content: center;margin-top: 20px;margin-bottom: 25px;}
h1.titulo-contacto {display: flex;justify-content: center;color: rgb(29, 29, 29); margin: 15px;font-size: 45px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

/*FIN MAIN CONTACTO*/