/*INICIO MAIN INDEX*/
div h1{display: flex;justify-content: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px; color: white;padding: 10px;animation: move 3s;}
%__ p.parrafo1 {display: flex;justify-content: center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 24px; color: rgba(255, 255, 255, 0.774); margin: 25px;}
%__ .card {border: 1px solid rgba(161, 161, 161, 0.808);}
%__ .row .col-8 {display: block}
h5.carrusel-title{color: black;}
p.carrusel-subtitle {color: rgb(26, 26, 26);}
div .carousel-caption {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
/*FIN MAIN INDEX*/