/*INICIO PROYECTO*/

h1.titulo-proyecto {display: flex;justify-content: center;color: rgb(29, 29, 29); margin: 15px;font-size: 45px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
h2.subtitulo-proyecto{display: flex;justify-content: center;color: rgb(54, 54, 54);margin: 25px;}
h3.descripcion-proyecto {display: flex;justify-content: center;font-size: 25px;}

/*FIN MAIN PROYECTO*/