@media (max-width:525px) {.col {display: flex; justify-content: center; }}
@media (max-width:583px) {div p.parrafo1 {font-size: 28px;}}
@media (max-width:583px) {div p.parrafo1 {font-size: 12px;}}
@media (max-width:600px) {p.parrafo2 {font-size: 12px;} h1.titulo-qs{font-size: 26px}}
