/*
$fontsc:(   titulo-productos:rgb(29, 29, 29),
        text-primario:rgb(54, 54, 54),
        text-secundario:rgb(54, 54, 54),
        text-precio:rgb(255, 0, 0),
        color--border:rgba(161, 161, 161, 0.808,));*/

